<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:oracle:thin:@//localhost:1521/orclpdb</property>
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.username">ravaelamanov</property>
        <property name="connection.password">r159357r</property>>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.Oracle8iDialect</property>

        <mapping class="Entities.Employee"/>
        <mapping class="Entities.Task"/>
    </session-factory>>
</hibernate-configuration>